version: '3.8'

services:
  foundationpose_server:
    image: shingarey/foundationpose_custom_cuda121:latest
    container_name: foundationpose_docker
    
    # 保持容器后台运行
    stdin_open: true 
    tty: true
    
    # 【核心修改 1】网络模式改为 Bridge 并映射端口
    # Windows 通过 localhost:6006 访问容器
    network_mode: "bridge"
    ports:
      - "6006:6006"
    
    privileged: true
    # 【核心修改 2】内存共享模式
    # PyTorch 跑大模型必须开这个，否则 dataloader 会崩
    ipc: "host"
    # 额外增加共享内存大小，双重保险
    shm_size: '8gb'
    
    # 【核心修改 3】挂载路径
    # 注意：在 WSL2 中访问 Windows 的 D 盘，路径通常是 /mnt/d
    volumes:
      - D:\study\FoundationPose:/workspace
    
    # 【核心修改 4】环境变量精简
    # 不需要 DISPLAY 了，因为 Docker 现在只算数，不弹窗
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - NVIDIA_VISIBLE_DEVICES=all
      
    # GPU 资源调度
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    # 启动后默认进入 bash，你可以进去手动运行 python server_ai.py
    command: /bin/bash